# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Core Facilities.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\syrykh\Desktop\.NET Education\CorePartnersEducation\Core Facilities\.idea\.idea.Core Facilities\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
